
/******************************/
/* version 0.2.5 @ 2010.03.09 */
/******************************/

* {
  padding: 0;
  margin: 0;
}

body {
  padding: 15px;
  margin: 15px;
  color: #555;
}

.center {
    text-align: center;
}

.small {
    font-size: 75%;
}

p {
  padding: 0;
  margin: 20px 0;
}

a img {
    border: none;
}

form {
  padding: 0;
  margin: 0 0 25px 0;
}

fieldset {
  border: 1px solid #bbb;
  padding: 15px;
  margin: 10px;
}

fieldset fieldset{
  border: 1px dashed #bbb;
}

legend {
  font-weight: bold;
  padding: 0 5px;
}

label {
  padding: 0;
  margin: 0;
}

input {
  color: #555;
  background-color: #fff;
  border: 1px solid #999;
  display: block;
  padding: 2px;
  margin: 10px;
}

textarea {
  border: 1px solid #999;
}

select {
  padding: 0;
  margin: 10px;
  display: block;
}

input[type="submit"] {
  background-color: #ddd;
}

input[type="radio"] {
	border: none; /* IE */
	display: inline;
}

input[type="hidden"] {
  padding: 0;
  margin: 0;
	border: none; /* Firefox */
}
